.social-share-buttons_justify {
    text-align: justify;
}

.social-share-buttons_justify::after {
    content: '';
    width: 100%;
    display: inline-block;
}

.social-share-buttons_vk,
.social-share-buttons_fb,
.social-share-buttons_ok {
    font-size: 18px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    vertical-align: top;
    display: inline-block;
}

.social-share-buttons_mb_15 {
    margin-bottom: 15px;
}

/*Extra small devices (phones)*/

@media only screen and (max-width : 767px) {

    .social-share-buttons_vk,
    .social-share-buttons_fb,
    .social-share-buttons_ok {
        width: 100% !important;
        font-size: 14px !important;
    }

}